@using System.Threading
@using System.Threading.Tasks
@using DriveIT.Models
@using DriveIT.MVC.Controllers
@using Microsoft.Ajax.Utilities

@functions
{
    CarController c = new CarController();
    
}

@{
    ViewBag.Title = "Car Search";
}


<!DOCTYPE html>
<html>
<body>

    <hr />

    <h1>Car Search</h1>
    <text>In this window, you are able to search for cars, by giving, as input, the three following criteria: FuelType, Make and Model.</text>

    <hr />

    FuelType:
    <select name="car-fuelType" id="car-fuelType">
        <option></option>
        <option value="Gasoline">Gasoline</option>
        <option value="Diesel">Diesel</option>
        <option value="Electric">Electric</option>
    </select>
    
    <script type="text/javascript">
    function myTestFunction() {
        var selects = document.getElementById("car-fuelType");
        document.getElementById("test").innerHTML = selects.options[selects.selectedIndex].value;
    }
    </script>

    Make: <select name="car-makes" id="car-makes"></select>
    Model: <select name="car-models" id="car-models"></select>
    
    <br/>
    <br/>

    <button onclick="myTestFunction()">Search for cars</button>

    @foreach (var row in c.GetCarsByFuelType("Diesel").Result)
    {
        <hr />
        <h6>FuelType: @row.Fuel</h6>
        <h6>Make: @row.Make</h6>
        <h6>Model: @row.Model</h6>
    }

</body>
</html>