@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<br/>
<img src="~/Content/Image/about.jpg" width="100%"/>
<br/><br/>
<p>This is the online <b>DriveIT</b> Web Client for viewing cars for sale and request contact information about the cars.</p>
